<div id="overlay" *ngIf="loading">
  <div id="text">
    Data Importer
    <!-- <mat-spinner></mat-spinner> -->
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

    <strong *ngIf="progress <  100">
      Upload in progress {{progress}}%
    </strong>
    <strong *ngIf="progress === 100">
      Processing Data, Please Wait...
    </strong>
  </div>

</div>
<div *ngIf="!done">
  <form [formGroup]="form" (ngSubmit)="sendFile()" >
    <div class="card">
      <h5 class="card-header">Excel File Upload</h5>
      <div class="card-body">
        <div class="form-group">
          <label for="formGroupExampleInput">Select File</label>
          <input formControlName="datafile" (change)="selectFile($event)" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"  class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>


      </div>
      <div class="card-footer">
        <div class="row justify-content-end" >
      <button [disabled]="form.invalid" mat-raised-button color="primary"  type="submit">Upload</button>
    </div>
      </div>
    </div>

  </form>
</div>

<div *ngIf="done">
  <div class="card">
    <h5 class="card-header">Imported Data</h5>
    <div class="card-body">
      <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <mat-header-cell mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="key">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Key</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.key}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="itemCode">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Item Code</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.itemCode}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="colorCode">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Color Code</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.colorCode}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
          <mat-cell class="description-cell"
          *matCellDef="let order">{{order.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.price}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="discountPrice">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Discount Price</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.discountPrice}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="deliverdIn">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Delivered In</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.deliverdIn}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="q1">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Q1</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.q1}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="size">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Size</mat-header-cell>
            <mat-cell
                      *matCellDef="let order">{{order.size}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="color">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Color</mat-header-cell>
            <mat-cell
                      *matCellDef="let order">{{order.color}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    </div>
    <div class="card-footer">
      <button mat-raised-button color="primary" (click)="back()"  >Back</button>
    </div>
  </div>
</div>
